.information_wrapper {
  width: 95vw;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

// Our Services

.services_wrapper {
  width: 70%;
  position: relative;
}

.services_banner {
  width: 100%;
  height: 50px;
  background: $oxford-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Lato-Regular;
  margin-bottom: 30px;
}

.services_container {
  width: 100%;
  height: 300px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  &:active {
    .services_expand-wrapper {
      transform: scale(1000);
      transition: linear .5s;
    }
    .services_expand-description {
      display: unset;
    }
    .services_expand-icon {
      display: unset;
    }
    .services_box {
      position: absolute;
      top: 20px; 
      left: 20px;
      flex-direction: row;
      transition: linear .5s;
    }
    .services_title {
      color: white !important;
      z-index: 100
    }
    .services_icon {
      display: none;
    }
  }
}

.services_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services_expand-icon {
  display: none;
  width: 40px;
  margin: 0 10px;
  z-index: 100;
}

.services_expand-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 1px;
  width: 1px;
  border-radius: 50%;
  transition: linear .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.services_expand-description {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: white;
  font-family: Lato-Regular;
}

.services_title {
  font-family: Sansation;
  background-color: unset !important;
}

.services_icon {
  width: 40px;
  margin: 10px;
}

.services_click-cta {
  margin: 50px;
  background-color: unset !important;
  font-family: Lato-Regular;
  font-style: italic;
  font-size: 14px;
}

.strategy {
  color: $strategy-red;
  background-color: $strategy-red;
}

.wechat {
  color: $wechat-green;
  background-color: $wechat-green;
}

.website {
  color: $website-blue;
  background-color: $website-blue;
}

.webapp {
  color: $oxford-blue;
  background-color: $oxford-blue;
}

.workshop {
  color: $zima-blue;
  background-color: $zima-blue;
}

// About Us

.about_container {
  width: 100%;
}

.about_banner {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: $oxford-blue;
  font-family: Lato-Regular; 
  margin-bottom: 30px;
}

.about_content {
  font-size: 14px;
  font-family: lato-regular;
}

.about_reason {
  width: 100%;
  display: flex;
  &:last-child {
    .about_reason-content {
      border-bottom: 0  
    }
  }
}

.about_number {
  height: 75px;
  width: 75px;
  flex-shrink: 0;
  font-size: 60px;
  font-family: Sansation;
  text-align: center;
  padding: 30px 0;
}

.about_reason-content {
  font-size: 14px;
  font-family: lato-regular;
  padding: 30px 0;
  border-bottom: 2px solid $oxford-blue;
}

.about_wrapper {
  margin-left: 30px;
  width: calc(30% - 30px);
  flex-shrink: 0
}

.contact_wrapper {
  margin: 30px 0;
  width: 100%;
  height: 450px;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  border: 8px solid $oxford-blue;
  box-sizing: border-box;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(82, 179, 224, 0.5) 100%), #FFFFFF;
}

.contact_alien-icon {
  width: 140px;
  position: absolute;
  top: -40px;
}

.contact_title {
  font-size: 20px;
  font-family: Lato-Regular;
  color: $oxford-blue;
  text-align: center;
}

.contact_input {
  font-family: Lato-Regular;
  font-size: 15px;
  font-style: italic;
  border: 0;
  border-bottom: 1px solid $oxford-blue;
  background: unset;
  width: 80%;
  font-size: 14px;
}

.input-box {
  height: 100px;
  background: white;
  border-bottom: 0;
}

.contact_submit {
  height: 40px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: $oxford-blue;
  font-family: Lato-Regular;
  font-size: 15px;
}

@media screen and (max-width: 800px) {
  .information_wrapper {
    flex-direction: column;
  }

  .services_wrapper {
    width: 100%;
  }

  .services_expand-description {
    flex-wrap: nowrap;
    width: 80%;
  }

  .about_wrapper {
    width: 100%;
    margin-left: unset;
  }

}

@media screen and (max-width: 600px) {
  
}
