.intro_wrapper {
  background-color: white;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 210px);
  width: 100vw;
  position: relative;
}

#starfield {
  position: absolute;
  height: 100%;
  width: 100%;
}

.intro_title-box {
  position: absolute;
  padding: 50px;
  top: 15%;
  left: 15%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro_title {
  font-family: Sansation;
  font-size: 120px;
  color: $oxford-blue;
}

.intro_subtitle {
  font-family: Lato;
  font-style: Italic;
  font-size: 24px;
  color: $oxford-blue;
}

.intro_rocket {
  width: 20%;
  max-width: 250px;
  position: absolute;
  right: 15%;
  top: 15%;
  transform: rotate(15deg);
  animation: float 1.5s ease-in-out infinite;
  z-index: 10;
}

@keyframes float {
  0% {
    top: 10%;
  }
  50% {
    top: 12%;
  }
  100% {
    top: 10%;
  }
}