$rocketTop: 10%;

.intro_wrapper {
  background-color: white;
  height: 100vh;
  margin-top: 0px;
  width: 100vw;
  position: relative;
}

#starfield {
  position: absolute;
  height: 100%;
  width: 100%;
}

.intro_title-box {
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translateX(-30%) translateY(-30%);
  background: white;
  white-space: nowrap;
  padding: 20px;
}

.intro_title {
  font-family: Sansation-Regular;
  font-size: 120px;
  color: $oxford-blue;
}

.intro_subtitle {
  font-family: Lato-Regular;
  font-style: Italic;
  font-size: 24px;
  color: $oxford-blue;
}

.intro_rocket {
  width: 18%;
  max-width: 250px;
  position: absolute;
  right: 10%;
  transform: rotate(15deg);
  animation: float 2s ease-in-out infinite;
  z-index: 10;
}

@keyframes float {
  0% {
    top: $rocketTop;
  }
  50% {
    top: $rocketTop + 2%;
  }
  100% {
    top: $rocketTop;
  }
}

// iPad
@media screen and (max-width: 800px) {

  $rocketTop: 40%;
  
  .intro_wrapper {
    height: calc(100vh - 110px);
  }

  .intro_rocket {
    width: 35%;
    max-width: 250px;
    position: absolute;
    right: 10%;
    transform: rotate(15deg);
    animation: float 1.5s ease-in-out infinite;
    z-index: 10;
  }

  .intro_title-box {
    padding: 0px;
  }

  .intro_title {
    font-size: 80px;
    background: white;
  }

  .intro_subtitle {
    font-family: Lato-Regular;
    font-style: Italic;
    font-size: 24px;
    color: $oxford-blue;
    background: white;
  }

  @keyframes float {
    0% {
      top: $rocketTop;
    }
    50% {
      top: $rocketTop + 2%;
    }
    100% {
      top: $rocketTop;
    }
  }
}

// iPhoneX
@media screen and (max-width: 500px) {

  $rocketTop: 55%;

  .intro_wrapper {
    height: calc(100vh - 110px);
  }

  .intro_rocket {
    width: 40%;
    max-width: 250px;
    position: absolute;
    right: 10%;
    transform: rotate(15deg);
    animation: float 2s ease-in-out infinite;
    z-index: 10;
  }

  .intro_title-box {
    padding: 0px;
  }

  .intro_title {
    font-size: 75px;
    background: white;
    white-space: pre-wrap;
  }

  .intro_subtitle {
    font-size: 16px;
    background: white;
  }

  @keyframes float {
    0% {
      top: $rocketTop;
    }
    50% {
      top: $rocketTop + 2%;
    }
    100% {
      top: $rocketTop;
    }
  }
}