@import "fonts";
@import "colors";
@import "navigation";
@import "intro";
@import "information";
@import "work";
@import "footer";

html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
}

.lower-navigation_wrapper {
	border-top: 3px solid $oxford-blue;
  border-bottom: 3px solid $oxford-blue;
  margin: 30px 0;
  width: 95vw;
  height: 50px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.lower-navigation_tab {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lato-Regular;
  font-size: 15px;
  color: $oxford-blue;
  cursor: pointer;
  // &:hover {
  //   background: $oxford-blue;
  //   color: white;
  //   transition: linear .5s;
  // }
}