.navigation_wrapper {
  width: 100vw;
  height: 80px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: unset;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 200;
  color: $oxford-blue;
  transition: linear .25s;
}

.navigation_wrapper-white {
  background: white;
  transition: linear .25s;
}

.navigation_zima-digital {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Sansation;
  font-size: 25px;
	height: 100%;
  cursor: pointer;
}

.navigation_language {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lato-Regular;
  font-size: 20px;
  height: 100%;
  cursor: pointer;
}

.mobile-navigation_wrapper {
  display: none;
}

@media screen and (max-width: 800px) {
  .navigation_wrapper {
    display: none;
  }

  .mobile-navigation_wrapper {
    display: unset;
    position: fixed;
    top: 0px;
    right: 0px;
    height: 50px;
    width: 50px;
    background: unset;
    z-index: 100;
  }

  .mobile-navigation_line {
    height: 2px; 
    width: 30px;
    background: $oxford-blue;
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 1px;
    &::after {
      content: "";
      height: 2px; 
      width: 30px;
      background: $oxford-blue;
      position: absolute;
      top: 10px;
      border-radius: 1px;
    }
    &::before {
      content: "";
      height: 2px; 
      width: 30px;
      background: $oxford-blue;
      position: absolute;
      top: 20px;
      border-radius: 1px;
    }
  }
}