<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="assets/css/styles.css">'
    <script src="https://unpkg.com/scrollreveal"></script>
  </head>
  <body>
    {% include navigation.html %}
    {{ content }}
    <script src="assets/js/starfield.js"></script>
    <script src="assets/js/navigation.js"></script>
    <script src="assets/js/contact.js"></script>
    <script src="assets/js/services.js"></script>
    <script src="assets/js/scrollReveal.js"></script>
  </body>
</html>